body, html {
  height: 100%;
  margin: 0;
}


header{
		background: -webkit-linear-gradient(45deg, #dc1e31 0%, #15325d 100%)
}

#body{
		background-image: url("../bg-image.jpg");
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

.bg {
  /* The image used */
  background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url("../bg-image.jpg") no-repeat;

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.large-heading{
	font-size: 26px;
	font-family: 'Grenze', serif;
}

.main-heading{
	font-size: 22px;
	font-family: 'Grenze', serif;
}

.sub-heading{
	font-size: 17px;
	font-weight: bold;
	font-family: 'Grenze', serif;
	color: whitesmoke;
}

.hotel-title:hover{
	/*font-size: 20px;*/
	/*background-color: white;*/
	text-decoration: none;
	transition: 0.20s;
	color: whitesmoke;
}

.navbar{
	font-family: 'Maven Pro', sans-serif !important;
	font-size: 16px;

	/* background-color: #b80b06 !important; */
}

.brand{
	color: #073054 !important;
	font-weight: bold;
}

.nav-link{
		color: #d6caca !important;
}

.active{
	font-weight: bold;
	color: black;
}

.nav-link:hover{
	background-color: #073054;
	color: white !important;
	border-radius: 8px ;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
	transition: 0.5s;
}


.search{
	background-color: #b80b06 !important;
}

#video-autoplay{
	background-color:#000000c2 !important;
}
/* Style the video: 100% width and height to cover the entire window */
video {
	object-fit: fill;
	height: 330px;
	width: 100%;
}


.title{
	color: white;
	background-color: #b60606cf !important;
	border-radius: 4px;
}

.title2{
	color: white;
	background-color: #073054 !important;
	border-radius: 4px;
}

.title3{
	color: white;
	background-color: #28a745 !important;
	border-radius: 4px;
}

.hotels-list{
		width:100%;
  	box-shadow: 10px 10px 10px #8888883d;
		background-color:#000000c2;
		color:white;
		 /* #fafafae0; */
}

.list:hover{
	  background-color: #fafafae0 !important;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
		transition: 0.5s;
		border-radius: 4px;
		color:black;
}

.hotel-image{
	width: 100%;
	height: 100px;
}

.hotel-image-100{
	width: 100%;
	height: 150px;
}

.font{
	font-size: 13px;
	/* font-family: 'Lato', sans-serif; */
			font-family: 'Work Sans', sans-serif !important;
	/* font-family: 'Maven Pro', sans-serif !important; */
	/* font-family: 'Maven Pro', sans-serif; */
}

.search{
	
}

.search-box{
	height: 35px !important;
  width: 155px !important;
}

/* @media only screen and (max-width: 600px) {
.search-box {
    background-color: lightblue;
  }
} */

.book-button{
		margin-top: 40px;
		background-color: #b60606cf !important;
		font-size: 10px;
		font-family: 'Grenze', serif;
}

.preferred{
		border-radius: 5px;
		padding: 10px;
}

footer{
	font-family: 'Maven Pro', sans-serif !important;
	color: white;
	background-color:#073054;
}

.user-img {
 width: 100px;
 height: 100px;
 border-radius: 50%;
 position: relative;
 margin: 0 auto;
 margin-top: -75px; \
}

.message{
	color:#c5c5c5;
}

.name{
	font-weight: bold;
	font-size: 18px;
}

.position{
	font-size: 14px;
	color: #e43323;
	/* background: -webkit-linear-gradient(45deg, #ff0055 0%, #ff6600 100%); */
}

.floating{
	color: white;
	position: fixed;
	top: 35%;
	left: 35%;
	font-family: 'Maven Pro', sans-serif !important;
}

.btn-welcome{
	background-color: white;
  border: none;
	border-radius: 8px;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}


.btn-welcome:hover{
	background-color: transparent;
	color: whitesmoke;
	font-size:30px;
	padding: 20px 80px;
	border: 2px solid white;
	text-decoration: none;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
	transition: 0.7s;
}

.btn-welcome:hover  .bg{
	  /* The image used */
	  background: -webkit-linear-gradient(45deg, #15325d 0%, #dc1e31 100%);
	text-align: center;
	  /* Full height */
	  height: 100%;

	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	transition: 0.10s;
}


/**
 * Owl Carousel v2.3.0
 * Copyright 2013-2017 David Deutsch
 * Licensed under  ()
 */
.owl-carousel,.owl-carousel .owl-item{-webkit-tap-highlight-color:transparent;position:relative}.owl-carousel{display:none;width:100%;z-index:1}.owl-carousel .owl-stage{position:relative;-ms-touch-action:pan-Y;touch-action:manipulation;-moz-backface-visibility:hidden}.owl-carousel .owl-stage:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel .owl-stage-outer{position:relative;overflow:hidden;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-item,.owl-carousel .owl-wrapper{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}.owl-carousel .owl-item{min-height:1px;float:left;-webkit-backface-visibility:hidden;-webkit-touch-callout:none}.owl-carousel .owl-item img{display:block;width:100%}.owl-carousel .owl-dots.disabled,.owl-carousel .owl-nav.disabled{display:none}.no-js .owl-carousel,.owl-carousel.owl-loaded{display:block}.owl-carousel .owl-dot,.owl-carousel .owl-nav .owl-next,.owl-carousel .owl-nav .owl-prev{cursor:pointer;cursor:hand;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-prev,.owl-carousel button.owl-dot{background:0 0;color:inherit;border:none;padding:0!important;font:inherit}.owl-carousel.owl-loading{opacity:0;display:block}.owl-carousel.owl-hidden{opacity:0}.owl-carousel.owl-refresh .owl-item{visibility:hidden}.owl-carousel.owl-drag .owl-item{-ms-touch-action:none;touch-action:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.owl-carousel.owl-grab{cursor:move;cursor:grab}.owl-carousel.owl-rtl{direction:rtl}.owl-carousel.owl-rtl .owl-item{float:right}.owl-carousel .animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.owl-carousel .owl-animated-in{z-index:0}.owl-carousel .owl-animated-out{z-index:1}.owl-carousel .fadeOut{-webkit-animation-name:fadeOut;animation-name:fadeOut}@-webkit-keyframes fadeOut{0%{opacity:1}100%{opacity:0}}@keyframes fadeOut{0%{opacity:1}100%{opacity:0}}.owl-height{transition:height .5s ease-in-out}.owl-carousel .owl-item .owl-lazy{opacity:0;transition:opacity .4s ease}.owl-carousel .owl-item img.owl-lazy{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.owl-carousel .owl-video-wrapper{position:relative;height:100%;background:#000}.owl-carousel .owl-video-play-icon{position:absolute;height:80px;width:80px;left:50%;top:50%;margin-left:-40px;margin-top:-40px;background:url(owl.video.play.png) no-repeat;cursor:pointer;z-index:1;-webkit-backface-visibility:hidden;transition:-webkit-transform .1s ease;transition:transform .1s ease}.owl-carousel .owl-video-play-icon:hover{-webkit-transform:scale(1.3,1.3);-ms-transform:scale(1.3,1.3);transform:scale(1.3,1.3)}.owl-carousel .owl-video-playing .owl-video-play-icon,.owl-carousel .owl-video-playing .owl-video-tn{display:none}.owl-carousel .owl-video-tn{opacity:0;height:100%;background-position:center center;background-repeat:no-repeat;background-size:contain;transition:opacity .4s ease}.owl-carousel .owl-video-frame{position:relative;z-index:1;height:100%;width:100%}