{% extends 'base.html' %}
{% load static %}

{% block extrastyles %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock extrastyles %}


{% block content %}

        <!-- Image Carousel -->
        <div class="spacing-blank">

            <div id="image-autoplay" class="carousel-slide pb-0" data-aos="fade-down">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="3000">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">

                        <!-- Slide One - Set the background image for this slide in the line below -->
                        {% for item in imagesliders %}

                        {% if item.is_active %}
                        <div class="carousel-item carousel-item-main active"
                             style="background-image: url('{{ item.imageslider.url}}');">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="display-4" data-aos="fade-right">{{ item.topic }}</h3>
                                <p class="lead" data-aos="fade-left">{{ item.description }}</p>
                            </div>
                        </div>
                        {% else %}

                        <!-- Slide Two - Set the background image for this slide in the line below -->
                        <div class="carousel-item carousel-item-main" style="background-image: url('{{ item.imageslider.url}}');">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="display-4" data-aos="fade-down">{{ item.topic }}</h3>
                                <p class="lead" data-aos="fade-down">{{ item.description }}</p>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                       data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                       data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <!-- Image Carousel -->
            </div>
        </div>

        <div class="spacing-default">
            <div class="row p-0 my-4">
                <div class="col-xs-12 col-md-8  hotels-list p-0 " data-aos="fade-up-right">
                    <h1 class="text-center title main-heading py-2">Hot Deals</h1>
                    <div class="spacing">
                        <div class="row mb-2">


                            {% for service in services %}
                            <div class="col-md-2 my-3" data-aos="fade-up">
                                <a class="services-hyperlink" href="{% url 'services' %}">
                                    <div class="row list">
                                        <div class="col-md-12">
                                            <img src="{{ service.image.url }}" class="hotel-image">
                                        </div>

                                        <div class="col">
                                            <h3 class="pt-2 hotel-title sub-heading">{{ service.name }}</h3>
                                            <p class="pt-2 font">{{ service.description|truncatechars:80 }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>


                            {% empty %}

                            <div class="my-3 col text-center">
                                <div class='text-center mt-3'>
                                    <p>No services available currently</p>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>

                                <div class="col-xs-12 col hotels-list ml-3 pl-0 pr-0" data-aos="fade-up-left">
                    <h1 class="text-center title2 main-heading py-2">Accomodation</h1>
                    <div class="container" >
                        <div class="row" data-aos="fade-left">
                            <div id="carouselAccomodationIndicators1" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#carouselAccomodationIndicators1" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselAccomodationIndicators1" data-slide-to="1"></li>
                                <li data-target="#carouselAccomodationIndicators1" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner active">

<!--                             <div class="carousel-item carousel-item-main active"
                             style="background-image: url('{{ item.imageslider.url}}');">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="display-4" data-aos="fade-right">{{ item.topic }}</h3>
                                <p class="lead" data-aos="fade-left">{{ item.description }}</p>
                            </div>
                        </div> -->

                                <div class="carousel-item carousel-item-accomodation active">
                                  <img src="{% static 'photos/nightlightboudhanath.jpg' %}"class="d-block w-100" alt="...">

                                <div class="carousel-caption d-none d-md-block">
<!--                                 <h3 class="display-4" data-aos="fade-right">Budget </h3> -->
                                <p class="lead" data-aos="fade-left">Budget</p>
                            </div>
                                </div>


                                <div class="carousel-item carousel-item-accomodation">
                                  <img src="{% static 'photos/kathmadnudurbarsquare.jpg' %}" class="d-block w-100" alt="...">
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselAccomodationIndicators1" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselAccomodationIndicators1" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                        </div>


                         <div class="row mt-2" data-aos="fade-down">
                            <div id="carouselAccomodationIndicators2" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#carouselAccomodationIndicators2" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselAccomodationIndicators2" data-slide-to="1"></li>
                                <li data-target="#carouselAccomodationIndicators2" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner active">

<!--                             <div class="carousel-item carousel-item-main active"
                             style="background-image: url('{{ item.imageslider.url}}');">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="display-4" data-aos="fade-right">{{ item.topic }}</h3>
                                <p class="lead" data-aos="fade-left">{{ item.description }}</p>
                            </div>
                        </div> -->

                                <div class="carousel-item carousel-item-accomodation active">
                                  <img src="{% static 'photos/nightlightboudhanath.jpg' %}"class="d-block w-100" alt="...">

                                <div class="carousel-caption d-none d-md-block">
<!--                                 <h3 class="display-4" data-aos="fade-right">Budget </h3> -->
                                <p class="lead">Standard</p>
                            </div>
                                </div>


                                <div class="carousel-item carousel-item-accomodation">
                                  <img src="{% static 'photos/kathmadnudurbarsquare.jpg' %}" class="d-block w-100" alt="...">
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselAccomodationIndicators2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselAccomodationIndicators2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                        </div>


                         <div class="row mt-2 mb-2">
                            <div id="carouselAccomodationIndicators3" class="carousel slide" data-ride="carousel">
                              <ol class="carousel-indicators">
                                <li data-target="#carouselAccomodationIndicators3" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselAccomodationIndicators3" data-slide-to="1"></li>
                                <li data-target="#carouselAccomodationIndicators3" data-slide-to="2"></li>
                              </ol>
                              <div class="carousel-inner active">

<!--                             <div class="carousel-item carousel-item-main active"
                             style="background-image: url('{{ item.imageslider.url}}');">
                            <div class="carousel-caption d-none d-md-block">
                                <h3 class="display-4" data-aos="fade-right">{{ item.topic }}</h3>
                                <p class="lead" data-aos="fade-left">{{ item.description }}</p>
                            </div>
                        </div> -->

                                <div class="carousel-item carousel-item-accomodation active">
                                  <img src="{% static 'photos/nightlightboudhanath.jpg' %}"class="d-block w-100" alt="...">

                                <div class="carousel-caption d-none d-md-block">
<!--                                 <h3 class="display-4" data-aos="fade-right">Budget </h3> -->
                                <p class="lead">Premium</p>
                            </div>
                                </div>


                                <div class="carousel-item carousel-item-accomodation">
                                  <img src="{% static 'photos/kathmadnudurbarsquare.jpg' %}" class="d-block w-100" alt="...">
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselAccomodationIndicators3" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselAccomodationIndicators3" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>

        <div class="spacing-default">
            <div class="row">
                <div class="col-xs-12 col-md-8 hotels-list p-0" data-aos="fade-up-right">
                    <h1 class="text-center title2 main-heading py-2">Special Tours</h1>
                    <div class="container">

                        <div class="row mb-3">
                            {% for hotel in recommended %}
                            <div class="col-4 my-3">
                                <img src="{{ hotel.image.url }}" class="hotel-image-100">
                            </div>
                            <div class="col mt-3">
                                <h3 class="pt-2 hotel-title sub-heading">{{ hotel.name }}</h3>
                                <p class="pt-2 font">{{ hotel.description }}</p>
                            </div>

                            {% empty %}
                            <div class='text-center mt-3'>
                                <p>No hotels available currently</p>
                            </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>

                                <div class="col-xs-12 col hotels-list ml-3 p-0" data-aos="fade-up-left">
                    <h1 class="text-center title2 main-heading py-2">Info from Tourism Board</h1>
                    <div class="container">

                        <div class="row mb-3">
                            {% for hotel in recommended %}
                            <div class="col-4 my-3">
                                <img src="{{ hotel.image.url }}" class="hotel-image-100">
                            </div>
                            <div class="col mt-3">
                                <h3 class="pt-2 hotel-title sub-heading">{{ hotel.name }}</h3>
                                <p class="pt-2 font">{{ hotel.description }}</p>
                            </div>

                            {% empty %}
                            <div class='text-center mt-3'>
                                <p>No hotels available currently</p>
                            </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>





            </div>
        </div>

<div class="container">
    <div class="row my-5">

                        <div class="col-xs-12 col-md-12 hotels-list p-0" data-aos="flip-left">
                    <h1 class="text-center title2 main-heading py-2">Blogs</h1>
                    <div class="container">

                        <div class="row mb-3">
                            {% for hotel in recommended %}
                            <div class="col-4 my-3">
                                <img src="{{ hotel.image.url }}" class="hotel-image-100">
                            </div>
                            <div class="col mt-3">
                                <h3 class="pt-2 hotel-title sub-heading">{{ hotel.name }}</h3>
                                <p class="pt-2 font">{{ hotel.description }}</p>
                            </div>

                            {% empty %}
                            <div class='text-center mt-3'>
                                <p>No hotels available currently</p>
                            </div>

                            {% endfor %}
                        </div>

                    </div>
                </div>
    </div>
</div>

        <div class="container">
            <div class="row">
                <div class="offset-md-3 col-xs-12 col-md-6 hotels-list mb-5 pl-0 pt-0 pr-0" data-aos="zoom-in-up">
                    <h1 class="text-center title2 main-heading pt-2 pb-2">Reviews</h1>
                    <div class="container">

                        <div class="row justify-content-center mb-5">
                            <div class="col-md-7  text-center mt-3">
                                <span class="subheading"></span>
                                <h2 class="mb-3 large-heading">What People Say</h2>
                                <p class="font">Some of our customer reviews from facebook.</p>
                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="carousel-inner">

                                            {% for obj in review %}
                                            <div class="item">
                                                <div class="testimony-wrap py-4 pb-5">
                                                    <div class="user-img mb-5"
                                                         style="background-image: url({{ obj.image.url }})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
                                                    </div>
                                                    <div class="text text-center">
                                                        <p class="mb-5 message font">{{ obj.review }}</p>
                                                        <p class="name font">{{ obj.name }}</p>
                                                        <span class="position font">Customer</span>
                                                    </div>
                                                </div>
                                            </div>


                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>


{% endblock content %}


{% block extrascipts %}

{% endblock extrascipts %}
