{% extends 'base.html' %}
{% load static %}

{% block extrastyles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
{% endblock extrastyles %}

{% block content %}


<div id="body">

<!-- Video Autoplay -->
  <div id="video-autoplay" class="py-5">
    <div class="spacing">
      <div class="row">
          <!-- The video -->
        <video autoplay muted loop id="myVideo">
          <source src="{% static 'timelapse.mp4' %}" type="video/mp4">
        </video>

      </div>
    </div>
  </div>
<!-- Video Autoplay -->

  <div class="spacing">
    <div class="row ml-60 mr-60">
      <div class="col-xs-12  col-8  hotels-list my-5 p-0">
        <h1 class="text-center title main-heading py-2">Services</h1>
        <div class="spacing">
          <div class="row mb-2">

            {% for service in services %}
            <div class="col-6 my-3">
              <div class="row list">
                <div class="col">
                  <img src="{{ service.image.url }}" class="hotel-image">
                </div>

                <div class="col">
                  <h3 class="pt-2 hotel-title sub-heading">{{ service.name }}</h3>
                  <p class="pt-2 font">{{ service.description|truncatechars:40 }}</p>
                </div>
              </div>
            </div>

            {% empty %}

            <div class="my-3 col text-center">
              <div class='text-center mt-3'>
              <p>No services available currently</p>
              </div>
            </div>

            {% endfor %}

          </div>
        </div>
      </div>


      <div class="col-xs-12 col hotels-list my-5 ml-4 p-0">
        <h1 class="text-center title2 main-heading py-2">Hostel</h1>
<!--           <div class="container">
              <div class="row mb-2">
                <div class="my-3 col text-center">
                {% for hotel in hotels %}
                
                  <p>
                    <a href='{{ hotel.link }}' title='{{ hotel.description }}' class="hotel-title sub-heading">
                    {{ hotel.name }}
                    </a>
                  </p>

                {% empty %}
                <div class='text-center mt-3'>
                  <p>No hotels available currently</p>
                </div>
                
                {% endfor %}

                </div>
                </div>

          </div> -->
      </div>

  </div>


    <div class="row">
      <div class="col-xs-12 col-8 hotels-list mb-5 p-0">
      <h1 class="text-center title2 main-heading py-2">Recommended</h1>
        <div class="container">

          <div class="row mb-3">
            {% for hotel in recommended %}
            <div class="col-4 mt-3">
              <img src="{{ hotel.image.url }}" class="hotel-image-100">
            </div>
            <div class="col mt-3">
              <h3 class="pt-2 hotel-title sub-heading">{{ hotel.name }}</h3>
              <p class="pt-2 font">{{ hotel.description }}</p>
            </div>

            {% empty %}
                <div class='text-center mt-3'>
                  <p>No hotels available currently</p>
                </div>
                
            {% endfor %}
          </div>

        </div>
      </div>
    </div>


<div class="row">
  <div class="col-xs-12 col-12 hotels-list mb-5 px-0 pt-0">
  <h1 class="text-center title2 main-heading pt-2 pb-2">Reviews</h1>
  <div class="container">
    
    <div class="row justify-content-center mb-5">
      <div class="col-md-7  text-center mt-3">
        <span class="subheading"></span>
        <h2 class="mb-3 large-heading">What People Say</h2>
        <p class="font">Some of our customer reviews from facebook.</p>
      </div>
    </div>


            <div class="row">
              <div class="col-md-12">
                <div class="carousel-testimony owl-carousel ftco-owl">

                {% for obj in reviews_list %}
                  <div class="item">
                    <div class="testimony-wrap py-4 pb-5">
                      <div class="user-img mb-4" style="background-image: url({{ obj.image.url }})">
                        <span class="quote d-flex align-items-center justify-content-center">
                          <i class="icon-quote-left"></i>
                        </span>
                      </div>
                      <div class="text text-center">
                        <p class="mb-4">{{ obj.review }}</p>
                        <p class="name">{{ obj.name }}</p>
                        <span class="position">Customer</span>
                      </div>
                    </div>
                  </div>
              {% endfor %}
          
            </div>
          </div>   
    </div>
    </div>
    </div>

  </div>
</div>

<div class="spacing p-0 animate">
    <div class="pt-30 spacing">

      <div class="pt-30 mt-20 col-md-8">
  <span class="pt-20 text1">'' Als medicus moet ik er absoluut van op aan kunnen dat onbevoegde individuen of instanties nooit toegang krijgen tot onze bestanden. Quiver garandeert me dat''
  </span>

  <!-- <span class="text2">Page</span> -->
</div>
  




</div>
</div>
</div>

</div>
</div>
</div>

{% endblock content %}


{% block extrascipts %}

{% endblock extrascipts %}
