{% load static %}
<header id="header" class="pt-2 pb-1">
  <div class="spacing pl-0">
    <nav class="navbar navbar-dark fixed-top  navbar-expand-lg " style="background-color: #141414;">

      <a class="navbar-brand brand" href="{% url 'landing' %}"><img src="{% static 'logo/nepal.svg' %}" width="40px" height="40px"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-links">



<li class="nav-item dropdown mt-2 pb-0 mb-0 ">
            <a class="nav-link pb-0 mb-0 dropdown-toggle" data-toggle="dropdown"  href="{% url 'services' %}">Valley Tours
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">Kathmandu Walks</a></li>
          <li><a class="nav-link" href="#">Kathmandu Cycles</a></li>
          <li><a class="nav-link" href="#">Kathmandu Tours</a></li>
        </ul>
      </li>


      <li class="nav-item dropdown mt-2 pb-0 mb-0 ">
                  <a class="nav-link dropdown-toggle pb-0 mb-0 " data-toggle="dropdown"  href="{% url 'services' %}">Outbound Packages
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">Pokhara Packages</a></li>
          <li><a class="nav-link" href="#">Chitwan Packages</a></li>
          <li><a class="nav-link" href="#">Lumbini Packages</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown mt-2 pb-0 mb-0 ">
                  <a class="nav-link dropdown-toggle pb-0 mb-0 " data-toggle="dropdown"  href="{% url 'services' %}">Trekking and Adventures
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">Trekking</a></li>
          <li><a class="nav-link" href="#">Expeditions</a></li>
          <li><a class="nav-link" href="#">Rafting</a></li>
          <li><a class="nav-link" href="#">Bungee</a></li>
          <li><a class="nav-link" href="#">Mountain Flights</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown mt-2 pb-0 mb-0 ">
                  <a class="nav-link dropdown-toggle pb-0 mb-0 " data-toggle="dropdown"  href="{% url 'services' %}">Accomodation
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">Hostels</a></li>
          <li><a class="nav-link" href="#">Budget Accomodation</a></li>
          <li><a class="nav-link" href="#">Premium Accomodation</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown mt-2 pb-0 mb-0 ">
                  <a class="nav-link dropdown-toggle pb-0 mb-0 " data-toggle="dropdown"  href="{% url 'services' %}">International packages
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">Thailand/Singapore/Malaysia</a></li>
          <li><a class="nav-link" href="#">Dubai/Indonesia</a></li>
          <li><a class="nav-link" href="#">China/Japan/Korea</a></li>
          <li><a class="nav-link" href="#">India/Bhutan</a></li>
        </ul>
      </li>

            <li class="nav-item dropdown mt-2 pb-0 mb-0 ">
                  <a class="nav-link dropdown-toggle pb-0 mb-0 " data-toggle="dropdown"  href="{% url 'services' %}">Rentals
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href="#">Vehicles</a></li>
          <li><a class="nav-link" href="#">Cycle</a></li>
          <li><a class="nav-link" href="#">Equipment</a></li>
        </ul>
      </li>

<!--           <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Tours & Travels</a>
            <ul class="dropdown-menu" style="backgroun-color:red;">
             <li><a class="nav-link" href="#">Domestic</a></li>
              <li><a class="nav-link" href="#">International</a></li>
            </ul>
          </li> -->

<!-- 
          <li class="nav-item mt-2">
            <a class="nav-link" href="{% url 'about' %}">About Us</a>
          </li>

          <li class="nav-item mt-2">
            <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
          </li> -->

        </ul>
      </div>

      <form class="search-bar form-inline my-2 my-lg-0">
        <input class="form-control search-box" type="search" placeholder="Explore Your Adventures Here" aria-label="Search">
        <button type="button" class="btn btn-danger search">
            <i class="fas fa-search search-icon" ></i>
          </button>
      </form>

      <!-- <div class="row"> -->
        <!-- <div class="col-md-offset-9 col"> -->
         <!--  <div class="logo-group ml-5">
            <a href="#"><img src="{% static 'logo/fb.svg' %}" width="25px" height="25px"/></a>
            <a  href="#"><img src="{% static 'logo/insta.png' %}" width="25px" height="25px"/></a>
            <a href="#"><img src="{% static 'logo/twitter.png' %}" width="28px" height="26px"/></a>
          </div> -->
      <!-- </div> -->
      <!-- </divp> -->

    </nav>
  </div>
</header>